@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full bg-gray-200 rounded-lg px-2 py-[5px] md:px-4 outline-none;
  }
  .divinput {
    @apply border border-gray-500 bg-gray-200 flex items-center justify-between w-full  rounded-lg outline-none px-3;
  }
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 cursor-pointer;
  }
  .icon {
    @apply text-gray-600;
  }
  .smooth {
    /* background: #000 !important; */
    transition: all 0.5s ease-in-out;
    z-index: 1000;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbary-button {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 10px;
    background: rgb(59 130 246);
  }
  ::-webkit-scrollbar-track {
    background: #aaa;
  }
}
